//
   Created with JetBrains WebStorm.
   User: dave
   Date: 27/05/13
   Time: 5:24 PM
   To change this template use File | Settings | File Templates.

head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap.css')
    script(src='/lib/jquery/jquery.js')
    script(src='/lib/flot/jquery.flot.js')
    script(src='/lib/flot/jquery.flot.time.js')
