extends layout

block content

    div(ng-init='xjobs=#{JSON.stringify(jobs)}')

    h3 Statistics

    table.table
        tr
            th Name
            th Running?
            th Time
            th in (sec.)
            th Cron
        tr(ng-repeat="row in xjobs")
            td {{row.name}}
            td {{row.running}}
            td {{row.at}}
            td {{row.timeout}}
            td {{row.cronTime}}