doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/flot/jquery.js')
    script(src='/flot/jquery.flot.js')
    script(src='/flot/jquery.flot.time.js')

    body
    block content