doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include inc/header
        script(src='/javascripts/main.js')

    body(ng-app='bomApp')

        div.navbar.navbar
            div.navbar-inner

                a(href='/').brand BOM Stats:

                ul(ng-controller="Menu").nav

                    li(ng-class="menu.is('temp')"): a(href='/chart/temp') Temperature
                    li(ng-class="menu.is('rain')"): a(href='/chart/rain') Rain
                    li(ng-class="menu.is('hum')"): a(href='/chart/hum') Humidity
                    li(ng-class="menu.is('press')"): a(href='/chart/press') Pressure

                    li(ng-class="menu.is('radar')"): a(href='/radar') Rain Radar
                    li(ng-class="menu.is('jobs')"): a(href='/jobs') Job Stats

        div(ng-view)
