doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include inc/header
    body

        h1.page-header= title

        ul.nav.nav-pills
                li#stats: a(href='/stats') Job Stats
                li#temp: a(href='/chart/temp') Temp
                li#rain: a(href='/chart/rain') Rain
                li#hum: a(href='/chart/hum') Humidity
                li#press: a(href='/chart/press') Pressure

        script.
            $(document).ready(function() {
                  $(".active").removeClass("active");
                  $("##{tab}").addClass("active");
            });

    block content