doctype 5
html(ng-app='bomApp')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include inc/header
        script(src='/javascripts/chartdata.js')

    body

        h3.page-header= title

        ul(ng-controller="Menu", ng-init='menu.tab="#{tab}"').nav.nav-tabs
            li(ng-class="menu.is('stats')"): a(href='/stats') Job Stats
            if (tab=='stats')
                li(ng-class="menu.is('temp')"): a(href='/chart/temp') Temp
                li(ng-class="menu.is('rain')"): a(href='/chart/rain') Rain
                li(ng-class="menu.is('hum')"): a(href='/chart/hum') Humidity
                li(ng-class="menu.is('press')"): a(href='/chart/press') Pressure
            unless (tab=='stats')
                li(ng-class="menu.is('temp')"): a(ng-click='menu.change("temp")') Temp
                li(ng-class="menu.is('rain')"): a(ng-click='menu.change("rain")') Rain
                li(ng-class="menu.is('hum')"): a(ng-click='menu.change("hum")') Humidity
                li(ng-class="menu.is('press')"): a(ng-click='menu.change("press")') Pressure

        //ng-view
        block content
